/* ---- TRAILER SEKTION ---- */
#trailer-section{
    padding: 60px 30px 0;
}

#trailer-wrapper{
    margin-top: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

@media(max-width: 400px){
    #trailer-wrapper{
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

/* ---- SÄSONG SEKTION ---- */
/* Styling för hela säsongs-galleriet */
#season-gallery{
    margin: 0 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styling för alla bilder i säsongs-galleriet */
#season-gallery img{
    width: 260px;
    margin: 20px 20px 2px;
}

/* Placera säsongsbilderna korrekt */
.season-item {
    align-items: center;
    justify-content: center;
    background-size:cover;
    background-repeat:no-repeat;
    max-width: 500px;
}

/* Placera säsongstexten korrekt */
.season-item-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -60%);

    justify-self: stretch;
    align-self: stretch;
    font-family: var(--main-fonts);
    font-size: 32px;
    font-weight: bold;
}

/* BÄTTRE VIDEO EMBEDDING ÄN YOUTUBES DEFAULT */
.video {
    position: relative;
    padding-bottom: 56.23%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 5px;
}

.video div{
    cursor: pointer;
    -webkit-transition: .6s all;
    -moz-transition: .6s all;
    transition: .6s all;
    display: block;
}

.video div:hover span {
    -webkit-filter: brightness(100%);
}

.video div img{
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.video div span {
    width: 94px;
    height: 64px;
    position: absolute;
    background: url(https://1.bp.blogspot.com/-94QEg1Pk9tw/WGhNhfqMs-I/AAAAAAAAA1w/u3gEPfwh4hwMkWeAu-_PteMTFlSfy8pqACLcB/s1600/1483251316_5295_-_Youtube_I.png) no-repeat 50% 50%;
    left: 50%;
    top: 50%;
    margin-left: -47px;
    margin-top: -32px;
    -webkit-filter: brightness(75%);
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    border: 0;
    background: transparent;
}

footer {
    margin-top: 20px;
}