/* ---- TRAILER SEKTION ---- */
#trailer-section{
    padding: 60px 30px 0;
}

#trailer-wrapper{
    margin-top: 20px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

/* Placera videon rätt */
#trailer-wrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    border: 0;
}

/* Styling för hela säsongs-galleriet */
#season-gallery{
    margin: 0 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Styling för alla bilder i säsongs-galleriet */
#season-gallery img{
    width: 260px;
    margin: 20px 20px 2px;
}

/* Placera säsongsbilderna korrekt */
.season-item {
    align-items: center;
    justify-content: center;
    background-size:cover;
    background-repeat:no-repeat;
    max-width: 500px;
}

/* Placera säsongstexten korrekt */
.season-item-overlay {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -60%);

    justify-self: stretch;
    align-self: stretch;
    font-family: var(--main-fonts);
    font-size: 32px;
    font-weight: bold;
}