@import url("https://use.typekit.net/vve2jat.css");

:root{
    /* ----- UNIVERSELLA VARIABLER ----- */
    --main-fonts: pt-sans-pro, Arial, sans-serif;

    /* ----- VARIABLER FÖR NAVBAR / MENY ----- */
    --nav-bg-color: #2c2e31;
    --nav-font-color: #ffffff;
    --nav-active-font-color: #ffffff;
    --nav-font-hover-color: #e0e0e0;

    /* ----- VARIABLER FÖR HUVUDSEKTION ----- */
    --main-section-font-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #111111;
    overflow-x: hidden;
}

/* ----- NAVBAR ----- */
nav {
    color: var(--nav-font-color);
    font-family: var(--main-fonts);
    align-items: center;
    width: 100vw;

    /* Placera navbar ovanpå hero bilden */
    position: absolute;
    top: 0;
    left: 0;
}

#nav-logo{
    font-family: var(--main-fonts);
    font-weight: 800;
    font-size: 1.8em;
    justify-items: flex-start;
    margin-left: 55px;
}

nav ul {
    list-style-type: none;
    text-align: right;
    padding-right: 40px;
}

nav li {
    display: inline;
    padding: 0 15px;
    justify-items: flex-end;
}

@media(max-width: 900px){
    nav ul {
        list-style-type: none;
        padding-right: 0;
    }

    #nav-logo{
        margin-left: 15px;
    }
}

nav a{
    color: var(--nav-font-color);
    text-decoration: none;
    font-size: 19px;
}

nav a:hover{
    color: var(--nav-font-hover-color);
    text-decoration: none;
}

.active {
    color: var(--nav-active-font-color);
    font-weight: 600;
}

/* ----- HAMBURGARMENY ----- */
.hamburger{
    font-size: 30px;
    cursor: pointer;
    justify-self: right;
    margin-right: 25px;
    display: none;
}

@media(max-width: 750px){
    nav ul{
        display: none;
    }
    .hamburger{
        display: inline;
    }
}


/* ----- OVERLAY-MENY ----- */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: var(--nav-bg-color);
    overflow-x: hidden;
    transition: 0.3s ease;
    font-family: var(--main-fonts);
}

.overlay-navbar {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    margin: 20px;
    text-decoration: none;
    font-size: 36px;
    color: var(--nav-font-color);
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: var(--nav-font-hover-color);
}

/* Placera close-knappen i övre högra hörnet */
.overlay .closeBtn {
    position: absolute;
    top: -23px;
    right: 5px;
    font-size: 60px;
}

/* Fixa close button placering på korta skärmar */
@media(max-height: 700px){
    .overlay .closeBtn {
        top: -20px;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
}


/* ---- HERO ---- */
#hero-section{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100vh;
}

/* Gradient overlay för navbar, för att göra texten mer synlig på bakgrundsbilden */
#hero-gradient-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent);
}

#hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero-text {
    color: white;
    font-family: var(--main-fonts);
    white-space: nowrap;
    align-items: center;
    justify-items: center;
    text-align: center;

    /* Placera element centrerat ovanpå hero bilden */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#hero-text h1{
    font-weight: 800;
    font-size: 110px;
    display: block;
}

#hero-text p{
    font-size: 37px;
}

/* Minska font size på smala skärmar */
@media(max-width: 814px){
    #hero-text h1{
        font-size: 80px;
        align-self: center;
        justify-self: center;
    }
    #hero-text p{
        font-size: 30px;
    }
}

/* Minska font size ännu mer på ännu smalare skärmar */
@media(max-width: 460px){
    #hero-text h1{
        font-size: 60px;
        align-self: center;
        justify-self: center;
    }
    #hero-text p{
        font-size: 20px;
    }
}


/* Bild- och text-elementen */
.info-img > img {
    vertical-align:top;
    max-width: 100%;
    max-height: 200px;
}

/* Vänster-versionen */
.info-left {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 10vw;
    font-family: var(--main-fonts);
}
.info-left > .info-img {
    flex: 1 0 0;
    text-align: right;
}

.info-left > .info-text {
    width: 100%;
    flex: 2 0 0;
    margin:auto 0;
    text-align: left;
}

/* Höger-versionen */
.info-right {
    display: flex;
    flex-direction: row;
    margin: 0 10vw;
    font-family: var(--main-fonts);
}
.info-right > .info-img {
    flex: 1 0 0;
    text-align: left;
}

.info-right > .info-text {
    width: 100%;
    flex: 2 0 0;
    margin:auto 0;
    text-align: right;
}

@media(max-width: 750px){
    .info-left, .info-right {
        display: block;
    }

    .info-left > .info-img, .info-right > .info-img {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        text-align: center;
    }

    .info-left > .info-text, .info-right > .info-text {
        text-align: center;
        margin-bottom: 40px;
    }
}

/* Footer */
footer {
    margin-top: 40px;
    font-size: 20px;
    font-family: var(--main-fonts);
    color: #afafaf;
    width: 100%;
    height: 80px;
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: var(--nav-font-color);
}

footer a:hover{
    text-decoration: none;
    color: var(--nav-font-hover-color);
}

footer a:active{
    text-decoration: none;
    color: var(--nav-font-color);
}

/* Gör så att det är mellanrum mellan länkarna och separatorerna */
footer .separator{
    margin-left: 20px;
    margin-right: 20px;
}

/* Animerade objekt börjar gömda */
html.sr .load-hidden {
    visibility: hidden;
}


/* --- BAS-SEKTION --- */
.base-section{
    text-align: center;
    padding-top: 0;
    color: white;
}

.base-section h2{
    margin-top: 60px;
    font-size: 40px;
    font-family: var(--main-fonts);
    padding-bottom: 20px;
}